* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #14213d;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

/* Nav section */
nav {
  position: fixed;
  top: 0px;
  background-color: #14213d;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 80px;
  padding: 2rem;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.title {
  font-family: "Sansita", sans-serif;
  font-weight: 800;
  font-size: 35px;
  padding: 50px 20px;
  color: #fca311;
  text-decoration: none;
}

.offcanvas-toggle {
  font-size: 20px;
  position: fixed;
  top: 200px;
  left: 5px;
  height: 300px;
  z-index: 2;
  background-color: #14213d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: #fca311;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

/* Offcanvas Panel */
.offcanvas {
  background-color: #14213d;
  width: 20%;
  position: fixed;
  top: 80px;
  left: -400px;
  height: 100%;
  padding: 20px 20px;
  transition: left 0.3s ease-in-out;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.offcanvas.active {
  left: 10px;
}

.offcanvas h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fca311;
  margin-bottom: 10px;
  font-size: 20px;
}

.offcanvas ul {
  list-style: none;
  padding-left: 0;
}

.offcanvas li {
  margin-bottom: 15px;
}

.offcanvas li a {
  font-weight: 500;
  width: 250px;
  display: block;
  color: #fca311;
  padding: 10px;
  transition: background 0.3s;
  margin: 10px 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.offcanvas a:hover {
  background-color: #fca31133;
}

.offcanvas a:active {
  background-color: #fca311;
  color: #14213d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.offcanvas h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fca311;
  font-size: 20px;
  padding: 5px 40px;
}
.offcanvas hr {
  padding: 0px 10px;
}
.offcanvas .line {
  width: 40%;
  height: 1px;
  background-color: #fca311;
}

.container {
  margin-top: 90px;
  margin-left: 50px;
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.card {
  grid-gap: 10px;
  padding: 0px;
}

.chart-wrapper {
  width: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 3px;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
}

.data-set {
  display: grid;
  grid-template-columns: repeat(2, 145px);
  gap: 20px;
  margin-top: 20px;
}

.details,
.details-data {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #14213d;
  text-align: center;
  align-content: center;
  border-radius: 12px;
  transition: background-color 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.details-data {
  width: 320px;
}

.details h1,
.details-data h1 {
  color: white;
  font-family: "roboto";
  font-size: 25px;
}

.details p,
.details-data p {
  color: #fff;
  font-family: "lato";
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .details,
  .details-data {
    width: 140px;
    height: 140px;
  }

  .details-data {
    width: 300px;
  }
}

@media only screen and (max-width: 426px) {
  .offcanvas {
    width: 30%;
    padding: 10px 10px;
  }

  .offcanvas h1 {
    color: #fca311;
    margin-bottom: 10px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .offcanvas.active {
    left: 20px;
  }

  .container {
    margin-left: 0px;
    display: block;
    align-items: normal;
    padding: 0px 30px;
  }

  .card {
    grid-gap: 0px;
    padding: 0px;
  }

  .chart-wrapper {
    width: 970px;
  }

  .data-set {
    width: 1000px;
    display: flex;
  }

  .details-data {
    width: 290px;
  }
}
