* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #14213d;
  height: 200rem;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 10px 60px 10px 50px;
  border-bottom: 3px solid #fca311;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.6);
}

.navigation {
  display: flex;
  gap: 20px;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: color 0.3s;
  border: 2px solid #e89d0e;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.6);
  margin-top: 20px;
}

.navigation a:hover {
  background-color: #fca311;
  color: #14213d;
}

.title {
  font-family: "Sansita", sans-serif;
  font-size: 40px;
  color: #fca311;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 20px;
}

.log-in-container .log-in {
  background-color: #fca311;
  color: #14213d;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: 0.5s;
  border: 2px solid white;
  text-decoration: none;
}

.log-in-container a:hover {
  background-color: #14213d;
  color: #e89d0e;
  border: 2px solid #fca311;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 40px;
  max-width: 600px;
  padding: 3px;
  background-color: #fca311;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
}

.search-input {
  height: 35px;
  font-size: 14px;
  border-radius: 5px 0 0 5px;
  padding: 5px 30px 5px 10px;
  border: 2px solid #14213d;
  outline: none;
  color: #14213d;
  background-color: #f2e8cf;
  box-sizing: border-box;
}

.clear-btn {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #14213d;
  padding: 0;
  line-height: 1;
}

.search-button {
  padding: 10px 20px;
  background-color: #14213d;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.search-button:hover {
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
}
/* A to Z filter section */
.filter-container {
  padding: 10px 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  background-color: #14213d;
}

.filter-button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #fca311;
  color: #14213d;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
  justify-content: center;
  text-align: center;
}

.filter-button:hover {
  border: 1px solid #fca311;
  color: #fca311;
  background-color: #14213d;
}

.filter-button.active {
  border: 1px solid #fca311;
  color: #fca311;
  background-color: #14213d;
}

footer {
  background-color: #14213d;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid #fca311;
  font-size: 0.8rem;
  height: 50px;
  width: 100%;
}

.footer-logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f39c12;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  font-family: "roboto";
}

.footer-links a:hover {
  color: #f39c12;
}

.social-icons {
  margin: 10px 0;
}

.social-icons a {
  margin: 0 6px;
  font-size: 20px;
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #f39c12;
}

.footer-bottom {
  margin-top: 10px;
  font-size: 0.7rem;
  color: #fff;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.card {
  background-color: #222;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 430px;
}

.card h3 {
  color: #fca311;
  font-family: "roboto";
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

.card img {
  width: 100%;
  height: 280px;
  border-radius: 8px 8px 0px 0px;
}

.card:hover {
  transform: scale(1.05);
}

.card p {
  font-family: "lato";
  font-size: 13px;
  margin-left: 10px;
  color: #fff;
}

footer {
  background-color: #14213d;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid #fca311;
  font-size: 0.8rem;
  height: 50px;
  width: 100%;
}

.footer-logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f39c12;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  font-family: "roboto";
}

.footer-links a:hover {
  color: #f39c12;
}

.social-icons {
  margin: 10px 0;
}

.social-icons a {
  margin: 0 6px;
  font-size: 20px;
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #f39c12;
}

.footer-bottom {
  margin-top: 10px;
  font-size: 0.7rem;
  color: #fff;
}

/* Offcanvas */
.offcanvas-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: #fca311;
  cursor: pointer;
  z-index: 1100;
}

/* Hide offcanvas menu initially */
.offcanvas-menu {
  position: fixed;
  top: 0px;
  right: -100%;
  width: 50%;
  height: 100%;
  background-color: #14213d;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 20px;
  padding-left: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.offcanvas-menu.active {
  right: 0;
}

.offcanvas-menu h1 {
  font-family: "Lato";
  font-size: 40px;
  color: white;
}

.offcanvas-menu a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: color 0.3s;
  border: 2px solid #e89d0e;
  border-radius: 5px;
  width: 310px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.6);
  margin-top: 20px;
}

.offcanvas-menu a:hover {
  background-color: #fca311;
  color: #14213d;
}

.offcanvas-menu .search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 40px;
  max-width: 310px;
  padding: 3px;
  background-color: #fca311;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
}

.offcanvas-menu .search-input {
  height: 35px;
  font-size: 14px;
  border-radius: 5px 0 0 5px;
  padding: 5px 30px 5px 10px;
  border: 2px solid #14213d;
  outline: none;
  color: #14213d;
  background-color: #f2e8cf;
  box-sizing: border-box;
}

.offcanvas-menu .clear-btn {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #14213d;
  padding: 0;
  line-height: 1;
}

.offcanvas-menu .search-button {
  padding: 10px 20px;
  background-color: #14213d;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.offcanvas-menu .search-button:hover {
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 768px) {
  .filter-container {
    padding: 7px 7px;
    gap: 5px;
  }

  .filter-button {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    font-size: 12px;
  }

  .card-container {
    gap: 10px;
  }

  .card {
    width: 150px;
    height: 350px;
  }

  .card h3 {
    font-size: 14px;
    margin-top: 5px;
  }

  .card img {
    height: 240px;
  }

  .card p {
    font-size: 10px;
  }

  .nav {
    display: none;
  }

  .offcanvas-toggle {
    display: block;
  }

  .offcanvas-menu a {
    font-family: "roboto";
    font-size: 15px;
  }
}

@media only screen and (max-width: 426px) {
  
.nav-top {
  margin-left: 10px;
}

  .title {
    font-size: 30px;
    padding: 5px 0px;
  }

  .filter-container {
    padding: 5px 5px;
    gap: 4px;
  }

  .filter-button {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    font-size: 10px;
  }

  .card-container {
    gap: 5px;
    margin-bottom: 12px;
  }

  .card {
    width: 100px;
    height: 250px;
  }

  .card h3 {
    font-size: 14px;
    margin-top: 5px;
  }

  .card img {
    height: 150px;
  }

  .card p {
    font-size: 10px;
  }

.offcanvas-toggle {
  font-size: 20px;
}  

  .offcanvas-menu {
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
  }

  .offcanvas-menu h1 {
    font-size: 30px;
  }
}
